@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    margin: 0%;
    padding: 0%;
    background-color:#252839;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.titulo-estudos{
    height: 7.610350076103501vh;
    margin: 0%;
   background-color: #2d4059;
    display: flex;
    margin-bottom: 2vh;
}
.titulo-estudos h2{
    margin: 0%;
    margin: auto;
    color: white;
}
.lista-geral{
    width: 90%;
    margin: auto;
}
.lista{
    background: rgba( 234, 84, 85, 1.00 );
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}
.lista-feito{
    background: rgb(234 84 85 / 58%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}


.swiper-slide {
    margin-bottom: 2vh;
}

.lista label, .lista-feito label{
    margin-bottom: 1.5vh;
    font-size: larger;
    text-align: center;
}
.conteiner-home{
    height: auto;
    min-height: 72vh;
    display: block;
}
.button-item{
    background-color: #2d4059;
    border-radius: 8px;
    border: 1px ;
    border: none;
    color: white;
    width: 27.397260273972602vh;
    height: 7.610350076103501vh;
    font-size: larger;
    font-weight: bold;
    transition: background .3s;
}
.button-item:hover{
    background-color: #ffd460;
}
.modal{
    background: rgba( 234, 84, 85, 1.00 );
    position: fixed;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 0 2px #fff;
    top: 20%;
    color: white;
    display: none;
    width: 95%;
    margin-left: 2%;
}
.btn-close{
    border-radius: 8px;
    border: 1px ;
    color: white;
    width: 27.397260273972602vh;
    height: 7.610350076103501vh;
    font-size: larger;
    font-weight: bold;
    background-color: #ffd460;
}
.modal-header,.modal-footer{
    padding: 10px;
    font-size: larger;
}
.swipper{
    display: flex;
    flex-direction: row;
}
.modal-header{
    background: #2d4059;
}
.modal-header h2{
    text-align: center;
}
.modal-footer{
    background: #2d4059;
    text-align: center;
}
.modal-body{
    text-align: center;
    display: grid;
    padding: 30px;
}
.modal-error{
    background-color: #2d4059;
}

.modal-error label{
    font-weight: 500;    
    font-size: 1.4rem;

}

.btn-error{
    background-color: red;
}

.x-modal{
    margin-left: auto;
    margin-bottom: 3vh;
}
.add-x{
    margin-left: 2vh;
}

.modal input, .text-description{
    border: 0px;
    border-radius: 8px;
    font-size: larger;
}
.input-title, .text-description{
    height: 30px;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    padding: 7px 0;
    background: #252839;
    color: white;
}
.input-title:active{
    border: 0px;
    border-color: white;
}
.text-description{
    height: 100px;
}
.error{
    text-align: left;
    font-size: medium;
    color: white;
    font-style: normal;
}

.modal textarea::placeholder, input::placeholder{
    text-align: center;
    font-weight: normal;
    font-size: larger;
    color: white;
}

/* Text animation */
.text-animation{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background: #252839 ;
}
.text-animation label, .not-found label{
    text-align: center;
    color: white;
    font-size: 1.6rem;
    margin-bottom: 1vh;
}
.text-animation h2{
    position: relative;
    font-size: 9vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
}
.text-animation h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #ffd460;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #ffd460;
    overflow: hidden;
    animation: animated 6s linear infinite;
}
@keyframes animated{
    0%,10%,100%{   
     width: 0;
    }
    60%,90%{
        width: 100%;    
    }
} 

/* loader */
.loader-center{
    position: absolute;
    top: 40%;
    left: 48%;
    transform: translate(-50%, -50%);
}

ul{
    margin: 0;
    padding: 0;
    position: relative;
    width: 400px;
    height: 240px;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
 
.loader-center ul li{
    list-style: none;
    border-radius: 50%;
    border: 15px solid #000;
    position: absolute;
    top: 100%;
    left: 50%;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    animation: animate 5s infinite alternate;
    transform: translate(-50%, -50%);
}

.loader-center ul li:nth-child(1){
    width: 60px;
    height: 60px;
    border-color: #ea5455;
    animation-delay: .2s ;
}
.loader-center ul li:nth-child(2){
    width: 90px;
    height: 90px;
    border-color: #f07b3f;
    animation-delay:.4s ;
}
.loader-center ul li:nth-child(3){
    width: 120px;
    height: 120px;
    border-color: #ffd460;
    animation-delay: .6s ;
}
.loader-center ul li:nth-child(4){
    width: 150px;
    height: 150px;
    border-color: #ea5455;
    animation-delay: .8s;
}
.loader-center ul li:nth-child(5){
    width: 180px;
    height: 180px;
    border-color: #f07b3f;
    animation-delay: 1s;
}
.loader-center ul li:nth-child(6){
    width: 210px;
    height: 210px;
    border-color: #ffd460;
    animation-delay: 1.2s ;
}
.loader-center ul li:nth-child(7){
    width: 240px;
    height: 240px;
    border-color: #ea5455;
    animation-delay: 1.4s ;
}
@keyframes animate{
    0%{
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(315deg);
    }
}
.not-found{
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: monospace;
}

.not-found label{
    font-size: 2.6rem;
}

footer{
    justify-content: center;
    display: flex;
    margin-top: 6vh;
    margin-bottom: 2vh;
}